@model Appointment

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create a new Appointment</title>
</head>
<body>
    <form asp-action="Add">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <label>Select a Customer</label>
        <select asp-for="CustomerId" class="form-control">
            @foreach (Customer customer in ViewData["NewCustomer"] as List<Customer>)
            {
                <option value="@customer.Id">@customer.FullName</option>
            }
        </select>
        <label asp-for="ProviderId" class="control-label">Select a Service Provider</label>
        <select asp-for="ProviderId" class="form-control">
            @foreach (ServiceProvider provider in ViewData["NewProvider"] as List<ServiceProvider>)
            {
                <option value="@provider.Id">@provider.FullName</option>
            }
        </select>
        <div class="form-group">
            <label asp-for="Work" class="control-label">Select a Day</label>
            <select asp-for="Work" class="form-control">
                <option value="@Appointment.WorkDays.Monday">Monday</option>
                <option value="@Appointment.WorkDays.Tuesday">Tuesday</option>
                <option value="@Appointment.WorkDays.Wednesday">Wednesday</option>
                <option value="@Appointment.WorkDays.Thursday">Thursday</option>
                <option value="@Appointment.WorkDays.Friday">Friday</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Save" />
            <input type="reset" />
        </div>
    </form>
</body>
</html>