<h2>The Appointment Index Page</h2>

@model IEnumerable<CP1.Models.Appointment>
@{
    ViewData["Title"] = "Appointment";
}

    <br /><br />
    <a asp-action="Add">Add New Appointment</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Customer</th>
                <th>Provider</th>
                <th>Day</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Customer.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Provider.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Work)</td>
                <td>
                    <a asp-action="Remove" asp-route-id="@item.Id">Remove Customer</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
