@model IEnumerable<Appointment>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<br /><br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Provider)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkHours)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(item => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(item => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(item => item.Provider)
                </td>
                <td>
                    @Html.DisplayFor(item => item.WorkHours)
                </td>
            </tr>
            }
        <tr>@Html.ActionLink("Back to Form", "Index")</tr>
        </tbody>
    </table>